// Styling for the team section
.team-member {
  padding: 100px 0px 30px 0px;
  text-align: center;
  img {
    width: 225px;
    height: 225px;
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}
